{% extends 'base.html' %}
{% block home %}
px-4 py-1 rounded text-white inline-block shadow-lg bg-green-400 hover:bg-green-600 focus:bg-green-700
{% endblock home %}

{% if error %}
<div class="container shadow p-4">
    <div class="row">
        <div class="col-12 text-center">
            <p>The Url you are looking for doesn't exist</p>
            <a href="/dashboard" class="btn btn-primary">Shorten A Url</a>
        </div>
    </div>
</div>
{% endif %}

{% block body %}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Shorten your Links for Free</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">This is a URL shortener site to short and make URL
                more clean and simple,Your can make url simple by your custom character or by random character,and the best part is that it is Free for all, anyone can shorten their URL for <b>FREE</b>.</p>
        </div>
        <div class="flex flex-wrap -m-4 text-center">
            <div class="p-4 md:w-1/2 sm:w-1/2 w-full">
                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="text-green-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
                        <path d="M8 17l4 4 4-4m-4-5v9"></path>
                        <path d="M20.88 18.09A5 5 0 0018 9h-1.26A8 8 0 103 16.29"></path>
                    </svg>
                    <h2 class="title-font font-medium text-3xl text-gray-900">2.7K</h2>
                    <p class="leading-relaxed">Used</p>
                </div>
            </div>
            <div class="p-4 md:w-1/2 sm:w-1/2 w-full">
                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="text-green-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
                        <path d="M17 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2"></path>
                        <circle cx="9" cy="7" r="4"></circle>
                        <path d="M23 21v-2a4 4 0 00-3-3.87m-4-12a4 4 0 010 7.75"></path>
                    </svg>
                    <h2 class="title-font font-medium text-3xl text-gray-900">1.1K</h2>
                    <p class="leading-relaxed">Users</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}